<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_9d2dcb70810029b7d3e276233fd1e461 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_9d2dcb70810029b7d3e276233fd1e461" ></div>
        
</body>
<script>
    
    
            var map_9d2dcb70810029b7d3e276233fd1e461 = L.map(
                "map_9d2dcb70810029b7d3e276233fd1e461",
                {
                    center: [31.5, -6.5],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 6,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_45266277464b73457fe8ad9d3505e987 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_45266277464b73457fe8ad9d3505e987.addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
            var marker_0fed9ae52a015bf897b6332ee6c6b761 = L.marker(
                [33.5731, -7.5898],
                {
}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_0caac966ed8673f2c612832f804ec274 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_b5f808f232e10df4398db86fd6b7def8 = $(`<div id="html_b5f808f232e10df4398db86fd6b7def8" style="width: 100.0%; height: 100.0%;">Casablanca</div>`)[0];
                popup_0caac966ed8673f2c612832f804ec274.setContent(html_b5f808f232e10df4398db86fd6b7def8);
            
        

        marker_0fed9ae52a015bf897b6332ee6c6b761.bindPopup(popup_0caac966ed8673f2c612832f804ec274)
        ;

        
    
    
            var marker_398df499c5fcbcadac8e49cbafa58a95 = L.marker(
                [34.0209, -6.8416],
                {
}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_9700d51c0fa6df43445686a9d3e09bbc = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f4c401f86b7768bda17005b2166bfa39 = $(`<div id="html_f4c401f86b7768bda17005b2166bfa39" style="width: 100.0%; height: 100.0%;">Rabat</div>`)[0];
                popup_9700d51c0fa6df43445686a9d3e09bbc.setContent(html_f4c401f86b7768bda17005b2166bfa39);
            
        

        marker_398df499c5fcbcadac8e49cbafa58a95.bindPopup(popup_9700d51c0fa6df43445686a9d3e09bbc)
        ;

        
    
    
            var marker_39d7c62b97cdd3cf5f368903c3828a94 = L.marker(
                [35.7595, -5.8339],
                {
}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_a04707dce251558efb61e709a88c05e4 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_35adaf05bd524401dac8bd7bea956bb0 = $(`<div id="html_35adaf05bd524401dac8bd7bea956bb0" style="width: 100.0%; height: 100.0%;">Tangier</div>`)[0];
                popup_a04707dce251558efb61e709a88c05e4.setContent(html_35adaf05bd524401dac8bd7bea956bb0);
            
        

        marker_39d7c62b97cdd3cf5f368903c3828a94.bindPopup(popup_a04707dce251558efb61e709a88c05e4)
        ;

        
    
    
            var marker_8cda96bfa82054556889c04e285817bf = L.marker(
                [31.6295, -7.9811],
                {
}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_a8726f4a6736c46c8d249d5d0cf9bb59 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_d602ec13b5a856fcab52b3d36dc7f0ea = $(`<div id="html_d602ec13b5a856fcab52b3d36dc7f0ea" style="width: 100.0%; height: 100.0%;">Marrakech</div>`)[0];
                popup_a8726f4a6736c46c8d249d5d0cf9bb59.setContent(html_d602ec13b5a856fcab52b3d36dc7f0ea);
            
        

        marker_8cda96bfa82054556889c04e285817bf.bindPopup(popup_a8726f4a6736c46c8d249d5d0cf9bb59)
        ;

        
    
    
            var marker_f9c73037303cde30e89addbd345dc62d = L.marker(
                [34.0331, -5.0003],
                {
}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_761c6d7b905dab6539d1aefbb6dc0c06 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_abefcf38cb072f0dcc6618088bd5ea42 = $(`<div id="html_abefcf38cb072f0dcc6618088bd5ea42" style="width: 100.0%; height: 100.0%;">Fes</div>`)[0];
                popup_761c6d7b905dab6539d1aefbb6dc0c06.setContent(html_abefcf38cb072f0dcc6618088bd5ea42);
            
        

        marker_f9c73037303cde30e89addbd345dc62d.bindPopup(popup_761c6d7b905dab6539d1aefbb6dc0c06)
        ;

        
    
    
            var marker_3d0371e480a3d98942872aa10434f034 = L.marker(
                [33.8947, -5.5473],
                {
}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_101d4072798dbab33d7f86cb1e32a284 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_e1220dbce84300b2ec95992bc5788320 = $(`<div id="html_e1220dbce84300b2ec95992bc5788320" style="width: 100.0%; height: 100.0%;">Meknes</div>`)[0];
                popup_101d4072798dbab33d7f86cb1e32a284.setContent(html_e1220dbce84300b2ec95992bc5788320);
            
        

        marker_3d0371e480a3d98942872aa10434f034.bindPopup(popup_101d4072798dbab33d7f86cb1e32a284)
        ;

        
    
    
            var marker_c02f83ddfc704c5dfeb3e2f61a6a1f1b = L.marker(
                [30.4278, -9.5981],
                {
}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_f33ed6ea8d707207dd7d371245ffabbe = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_355095a03bb31e3c33b3838d66741b40 = $(`<div id="html_355095a03bb31e3c33b3838d66741b40" style="width: 100.0%; height: 100.0%;">Agadir</div>`)[0];
                popup_f33ed6ea8d707207dd7d371245ffabbe.setContent(html_355095a03bb31e3c33b3838d66741b40);
            
        

        marker_c02f83ddfc704c5dfeb3e2f61a6a1f1b.bindPopup(popup_f33ed6ea8d707207dd7d371245ffabbe)
        ;

        
    
    
            var marker_8d61b3a92e8c005357c08dedfdb5f2a3 = L.marker(
                [34.6814, -1.9086],
                {
}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_0033b56012b5cbd4c7b2002a546f01a1 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f3711944393e66b9de6cbe7f89d76daf = $(`<div id="html_f3711944393e66b9de6cbe7f89d76daf" style="width: 100.0%; height: 100.0%;">Oujda</div>`)[0];
                popup_0033b56012b5cbd4c7b2002a546f01a1.setContent(html_f3711944393e66b9de6cbe7f89d76daf);
            
        

        marker_8d61b3a92e8c005357c08dedfdb5f2a3.bindPopup(popup_0033b56012b5cbd4c7b2002a546f01a1)
        ;

        
    
    
            var marker_f20c12bc09222c5dfa6d3fafe6b79794 = L.marker(
                [35.577, -5.3684],
                {
}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_b40594019234393b3c3a3825fb51f874 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_5aade944035c830e58dab3014ba69fdc = $(`<div id="html_5aade944035c830e58dab3014ba69fdc" style="width: 100.0%; height: 100.0%;">Tetouan</div>`)[0];
                popup_b40594019234393b3c3a3825fb51f874.setContent(html_5aade944035c830e58dab3014ba69fdc);
            
        

        marker_f20c12bc09222c5dfa6d3fafe6b79794.bindPopup(popup_b40594019234393b3c3a3825fb51f874)
        ;

        
    
    
            var marker_5c94666f81473f333ed0c2063ddf4b2c = L.marker(
                [32.2994, -9.2372],
                {
}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_af271f86e22614f7f5a00b6284e4c8c4 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_623f0b0d220efc797e5f946229c13fa2 = $(`<div id="html_623f0b0d220efc797e5f946229c13fa2" style="width: 100.0%; height: 100.0%;">Safi</div>`)[0];
                popup_af271f86e22614f7f5a00b6284e4c8c4.setContent(html_623f0b0d220efc797e5f946229c13fa2);
            
        

        marker_5c94666f81473f333ed0c2063ddf4b2c.bindPopup(popup_af271f86e22614f7f5a00b6284e4c8c4)
        ;

        
    
    
            var marker_1e3138cbc058cc9cebe1b3bd9100289b = L.marker(
                [33.2561, -8.5089],
                {
}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_e263806621a42779c30c18f4a4f5fac3 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_4e2ad88097152a41f4fb3fda39615bd3 = $(`<div id="html_4e2ad88097152a41f4fb3fda39615bd3" style="width: 100.0%; height: 100.0%;">El Jadida</div>`)[0];
                popup_e263806621a42779c30c18f4a4f5fac3.setContent(html_4e2ad88097152a41f4fb3fda39615bd3);
            
        

        marker_1e3138cbc058cc9cebe1b3bd9100289b.bindPopup(popup_e263806621a42779c30c18f4a4f5fac3)
        ;

        
    
    
            var marker_9ecb8496a72803a1d5073d65dc4bae83 = L.marker(
                [32.3394, -6.3498],
                {
}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_210ea0ddfae36d504a004eb1da36837e = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_adc8555f1df0738da277e5b43c7d0abc = $(`<div id="html_adc8555f1df0738da277e5b43c7d0abc" style="width: 100.0%; height: 100.0%;">Beni Mellal</div>`)[0];
                popup_210ea0ddfae36d504a004eb1da36837e.setContent(html_adc8555f1df0738da277e5b43c7d0abc);
            
        

        marker_9ecb8496a72803a1d5073d65dc4bae83.bindPopup(popup_210ea0ddfae36d504a004eb1da36837e)
        ;

        
    
    
            var marker_64ed5d0c7aa8a6f1d87f04f45a520ecc = L.marker(
                [32.8809, -6.9063],
                {
}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_349cd59265a403db90746a26bf172180 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_39fb7ce8d9064186000e737171cfa1e4 = $(`<div id="html_39fb7ce8d9064186000e737171cfa1e4" style="width: 100.0%; height: 100.0%;">Khouribga</div>`)[0];
                popup_349cd59265a403db90746a26bf172180.setContent(html_39fb7ce8d9064186000e737171cfa1e4);
            
        

        marker_64ed5d0c7aa8a6f1d87f04f45a520ecc.bindPopup(popup_349cd59265a403db90746a26bf172180)
        ;

        
    
    
            var marker_1f3ec519bd284cd0fc58435e2478adb1 = L.marker(
                [34.261, -6.5802],
                {
}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_705b5a05f357582226d66f65bc06f077 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3aac586fed63528554cd2ba8711f28b1 = $(`<div id="html_3aac586fed63528554cd2ba8711f28b1" style="width: 100.0%; height: 100.0%;">Kenitra</div>`)[0];
                popup_705b5a05f357582226d66f65bc06f077.setContent(html_3aac586fed63528554cd2ba8711f28b1);
            
        

        marker_1f3ec519bd284cd0fc58435e2478adb1.bindPopup(popup_705b5a05f357582226d66f65bc06f077)
        ;

        
    
    
            var marker_f76bbaf3fd3fc3e5b8bea0628f425043 = L.marker(
                [33.1069, -8.6375],
                {
}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_8abefa81289d8a45e36c63a47470311d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_838ff74161b7ce7e1cccb18fec4d6b46 = $(`<div id="html_838ff74161b7ce7e1cccb18fec4d6b46" style="width: 100.0%; height: 100.0%;">Jorf Lasfar</div>`)[0];
                popup_8abefa81289d8a45e36c63a47470311d.setContent(html_838ff74161b7ce7e1cccb18fec4d6b46);
            
        

        marker_f76bbaf3fd3fc3e5b8bea0628f425043.bindPopup(popup_8abefa81289d8a45e36c63a47470311d)
        ;

        
    
    
            var marker_d9f1bb5ab236dc9c7c72e6074bf463f8 = L.marker(
                [32.2359364, -7.953837799999974],
                {
}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_e69a007431f63dbddfcdbb89b60a709b = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2e74bd2172a99dbdc9d26b4ca1fd9fcb = $(`<div id="html_2e74bd2172a99dbdc9d26b4ca1fd9fcb" style="width: 100.0%; height: 100.0%;">Benguerir</div>`)[0];
                popup_e69a007431f63dbddfcdbb89b60a709b.setContent(html_2e74bd2172a99dbdc9d26b4ca1fd9fcb);
            
        

        marker_d9f1bb5ab236dc9c7c72e6074bf463f8.bindPopup(popup_e69a007431f63dbddfcdbb89b60a709b)
        ;

        
    
    
            var poly_line_86fec45ccdacb9b071b7143f47d2e688 = L.polyline(
                [[32.8809, -6.9063], [33.5731, -7.5898]],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "grey", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
            var poly_line_568690a206b0e4929da803760153c641 = L.polyline(
                [[32.8809, -6.9063], [34.0209, -6.8416]],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "grey", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
            var poly_line_a94fdc642d0d4334c3188b4a51306bcd = L.polyline(
                [[32.8809, -6.9063], [35.7595, -5.8339]],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "grey", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
            var poly_line_778ca0f281bac270c53116de2ed86e04 = L.polyline(
                [[32.8809, -6.9063], [31.6295, -7.9811]],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "grey", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
            var poly_line_46395e37d07f61e6d6aeb3394c37a4f6 = L.polyline(
                [[32.8809, -6.9063], [34.0331, -5.0003]],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "grey", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
            var poly_line_e1e602553721e714ba759eb920e6857b = L.polyline(
                [[32.8809, -6.9063], [30.4278, -9.5981]],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "grey", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
            var poly_line_e5acd573e010c893f32ddec435b8029b = L.polyline(
                [[32.2359364, -7.953837799999974], [33.5731, -7.5898]],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "grey", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
            var poly_line_733381a5900a6352a8aa1bd5ee384f74 = L.polyline(
                [[32.2359364, -7.953837799999974], [31.6295, -7.9811]],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "grey", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
            var poly_line_fd21849c2f68e0015a259bdd9b2c3fbc = L.polyline(
                [[32.2359364, -7.953837799999974], [34.261, -6.5802]],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "grey", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
            var poly_line_f1fdae97c6e3cf43af4e1bd9e602383e = L.polyline(
                [[33.1069, -8.6375], [33.5731, -7.5898]],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "grey", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
            var poly_line_571df5e99ca3f8ab42cf283030418973 = L.polyline(
                [[33.1069, -8.6375], [32.2994, -9.2372]],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "grey", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
            var poly_line_344348ded539b5d6f73c221ed6224b6c = L.polyline(
                [[33.5731, -7.5898], [34.0209, -6.8416]],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "grey", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
            var poly_line_5f583d874bb648fafccfb0ab67ec8fa3 = L.polyline(
                [[33.5731, -7.5898], [35.7595, -5.8339]],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "grey", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
            var poly_line_f6b7dab28d56230270afd23d2fa1dc09 = L.polyline(
                [[33.5731, -7.5898], [31.6295, -7.9811]],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "grey", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
            var poly_line_2c4a63da4bde80ea59d2e80faef8cdf6 = L.polyline(
                [[33.5731, -7.5898], [34.0331, -5.0003]],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "grey", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
            var poly_line_968c45b599eafcae037d5cf634dd0ee7 = L.polyline(
                [[33.5731, -7.5898], [30.4278, -9.5981]],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "grey", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
            var poly_line_bd7cdd0b2bc751fab9e61bdbe91d3668 = L.polyline(
                [[33.5731, -7.5898], [34.6814, -1.9086]],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "grey", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
            var poly_line_61aeaad852cf58713b5981199cd094c9 = L.polyline(
                [[33.5731, -7.5898], [35.577, -5.3684]],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "grey", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
            var poly_line_7a021cc4693d4a317e0b65eabf7762ed = L.polyline(
                [[33.5731, -7.5898], [32.2994, -9.2372]],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "grey", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
            var poly_line_071decfbff5fb75e2d00ea50f2de2b5b = L.polyline(
                [[33.5731, -7.5898], [33.2561, -8.5089]],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "grey", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
            var poly_line_edd128d29cadc48ccb414bf9fc54eb16 = L.polyline(
                [[31.6295, -7.9811], [34.0331, -5.0003]],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "grey", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
            var poly_line_6018c5c38a430a40a84b95b024448f1f = L.polyline(
                [[31.6295, -7.9811], [35.577, -5.3684]],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "grey", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
            var poly_line_c4df8b568062cbcea551aa18aa97d5e8 = L.polyline(
                [[30.4278, -9.5981], [32.2994, -9.2372]],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "grey", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
            var poly_line_d239857ab2db56682d8055c6956120e9 = L.polyline(
                [[32.3394, -6.3498], [33.2561, -8.5089]],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "grey", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
            var poly_line_a53d9d909f3d550a4ebd7cfa1080325e = L.polyline(
                [[32.8809, -6.9063], [33.5731, -7.5898]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 7.0}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_975701fd122be5b20d7dfad11e897bcb = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_e89c8dac0f53482b533df98b0e72ca3b = $(`<div id="html_e89c8dac0f53482b533df98b0e72ca3b" style="width: 100.0%; height: 100.0%;">Flow: 250</div>`)[0];
                popup_975701fd122be5b20d7dfad11e897bcb.setContent(html_e89c8dac0f53482b533df98b0e72ca3b);
            
        

        poly_line_a53d9d909f3d550a4ebd7cfa1080325e.bindPopup(popup_975701fd122be5b20d7dfad11e897bcb)
        ;

        
    
    
            var poly_line_c937a43a4f208f6903d1764deeb64e58 = L.polyline(
                [[32.8809, -6.9063], [34.0209, -6.8416]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3.2}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_d6549ff90feccfd84f04dd1baf169810 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_9a1dedc2ffe6494e106af96ab8a1206f = $(`<div id="html_9a1dedc2ffe6494e106af96ab8a1206f" style="width: 100.0%; height: 100.0%;">Flow: 60</div>`)[0];
                popup_d6549ff90feccfd84f04dd1baf169810.setContent(html_9a1dedc2ffe6494e106af96ab8a1206f);
            
        

        poly_line_c937a43a4f208f6903d1764deeb64e58.bindPopup(popup_d6549ff90feccfd84f04dd1baf169810)
        ;

        
    
    
            var poly_line_992e1b5e384f4ec3123c5944eab3d2e5 = L.polyline(
                [[34.0209, -6.8416], [33.5731, -7.5898]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3.2}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_21715716ca1ed7e3d21e5aa69bd92c75 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_7514dac53d9bc2eeb8120666dc26a3c8 = $(`<div id="html_7514dac53d9bc2eeb8120666dc26a3c8" style="width: 100.0%; height: 100.0%;">Flow: 60</div>`)[0];
                popup_21715716ca1ed7e3d21e5aa69bd92c75.setContent(html_7514dac53d9bc2eeb8120666dc26a3c8);
            
        

        poly_line_992e1b5e384f4ec3123c5944eab3d2e5.bindPopup(popup_21715716ca1ed7e3d21e5aa69bd92c75)
        ;

        
    
    
            var poly_line_8bfe1ea3397089e2ebb3fc052b8a88f1 = L.polyline(
                [[32.8809, -6.9063], [35.7595, -5.8339]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3.8}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_54ea41827beb49763b791ff742a1e239 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2d0efc5f79704ffc6f7740cd8ca46028 = $(`<div id="html_2d0efc5f79704ffc6f7740cd8ca46028" style="width: 100.0%; height: 100.0%;">Flow: 90</div>`)[0];
                popup_54ea41827beb49763b791ff742a1e239.setContent(html_2d0efc5f79704ffc6f7740cd8ca46028);
            
        

        poly_line_8bfe1ea3397089e2ebb3fc052b8a88f1.bindPopup(popup_54ea41827beb49763b791ff742a1e239)
        ;

        
    
    
            var poly_line_0f0487c19f9ccfe67947c7aa39d180d7 = L.polyline(
                [[35.7595, -5.8339], [33.5731, -7.5898]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3.8}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_5844ea6be5834ea99b7fbddeb426efda = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_49df74bfcae255b226b008f36e03384e = $(`<div id="html_49df74bfcae255b226b008f36e03384e" style="width: 100.0%; height: 100.0%;">Flow: 90</div>`)[0];
                popup_5844ea6be5834ea99b7fbddeb426efda.setContent(html_49df74bfcae255b226b008f36e03384e);
            
        

        poly_line_0f0487c19f9ccfe67947c7aa39d180d7.bindPopup(popup_5844ea6be5834ea99b7fbddeb426efda)
        ;

        
    
    
            var poly_line_81b759a2301f463577b2c01e544d2f4e = L.polyline(
                [[32.8809, -6.9063], [31.6295, -7.9811]],
                {"bubblingMouseEvents": true, "color": "purple", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "purple", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 10.0}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_be9c260f6c13cd9c403c78dd4ac9725f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3b8caa9371b6bd90591ac8a63185c905 = $(`<div id="html_3b8caa9371b6bd90591ac8a63185c905" style="width: 100.0%; height: 100.0%;">Flow: 400</div>`)[0];
                popup_be9c260f6c13cd9c403c78dd4ac9725f.setContent(html_3b8caa9371b6bd90591ac8a63185c905);
            
        

        poly_line_81b759a2301f463577b2c01e544d2f4e.bindPopup(popup_be9c260f6c13cd9c403c78dd4ac9725f)
        ;

        
    
    
            var poly_line_e514da0f35f3e443969fbd9fdcf91d7a = L.polyline(
                [[31.6295, -7.9811], [33.5731, -7.5898]],
                {"bubblingMouseEvents": true, "color": "purple", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "purple", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 7.4}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_ddd97597ac47a82e74cfd6045fa9aaf9 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_65d91a238466a4c2a52356008c4143ba = $(`<div id="html_65d91a238466a4c2a52356008c4143ba" style="width: 100.0%; height: 100.0%;">Flow: 270</div>`)[0];
                popup_ddd97597ac47a82e74cfd6045fa9aaf9.setContent(html_65d91a238466a4c2a52356008c4143ba);
            
        

        poly_line_e514da0f35f3e443969fbd9fdcf91d7a.bindPopup(popup_ddd97597ac47a82e74cfd6045fa9aaf9)
        ;

        
    
    
            var poly_line_7c2edb35ff4e8f0d8bce7b085b130501 = L.polyline(
                [[32.8809, -6.9063], [34.0331, -5.0003]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 6.2}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_187ee012fd8e4440b0b3c1d8dbc668eb = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_4b4507f842f203aff39e21fac5805ede = $(`<div id="html_4b4507f842f203aff39e21fac5805ede" style="width: 100.0%; height: 100.0%;">Flow: 210</div>`)[0];
                popup_187ee012fd8e4440b0b3c1d8dbc668eb.setContent(html_4b4507f842f203aff39e21fac5805ede);
            
        

        poly_line_7c2edb35ff4e8f0d8bce7b085b130501.bindPopup(popup_187ee012fd8e4440b0b3c1d8dbc668eb)
        ;

        
    
    
            var poly_line_4c8acb03a6bf60c12f5aab9a110a4203 = L.polyline(
                [[34.0331, -5.0003], [33.5731, -7.5898]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5.0}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_c5431b02afa9618bbaf7b6bd08f57aef = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_d925b147e1212570aba4d939ab930883 = $(`<div id="html_d925b147e1212570aba4d939ab930883" style="width: 100.0%; height: 100.0%;">Flow: 150</div>`)[0];
                popup_c5431b02afa9618bbaf7b6bd08f57aef.setContent(html_d925b147e1212570aba4d939ab930883);
            
        

        poly_line_4c8acb03a6bf60c12f5aab9a110a4203.bindPopup(popup_c5431b02afa9618bbaf7b6bd08f57aef)
        ;

        
    
    
            var poly_line_285600d3c93291c2e027f6e6390f382a = L.polyline(
                [[32.8809, -6.9063], [30.4278, -9.5981]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 11.0}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_ac77045adbb491dc9f6189f7596ab913 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_eafecd3762a17c277e95ab2131853bfd = $(`<div id="html_eafecd3762a17c277e95ab2131853bfd" style="width: 100.0%; height: 100.0%;">Flow: 450</div>`)[0];
                popup_ac77045adbb491dc9f6189f7596ab913.setContent(html_eafecd3762a17c277e95ab2131853bfd);
            
        

        poly_line_285600d3c93291c2e027f6e6390f382a.bindPopup(popup_ac77045adbb491dc9f6189f7596ab913)
        ;

        
    
    
            var poly_line_1b4807e9c1578981a86d268281287fa2 = L.polyline(
                [[30.4278, -9.5981], [33.5731, -7.5898]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 8.4}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_4bf2a44c19c25e7ce0252efcf95f10c8 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_27a68623b89224a715754967a4768660 = $(`<div id="html_27a68623b89224a715754967a4768660" style="width: 100.0%; height: 100.0%;">Flow: 320</div>`)[0];
                popup_4bf2a44c19c25e7ce0252efcf95f10c8.setContent(html_27a68623b89224a715754967a4768660);
            
        

        poly_line_1b4807e9c1578981a86d268281287fa2.bindPopup(popup_4bf2a44c19c25e7ce0252efcf95f10c8)
        ;

        
    
    
            var poly_line_220adf88ad303df660674578100366f3 = L.polyline(
                [[32.8809, -6.9063], [31.6295, -7.9811]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 10.0}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_f50149bf999bbe680ab57fe495d76246 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_cd9cb3caaaab9ff7a952a4762deeb82f = $(`<div id="html_cd9cb3caaaab9ff7a952a4762deeb82f" style="width: 100.0%; height: 100.0%;">Flow: 400</div>`)[0];
                popup_f50149bf999bbe680ab57fe495d76246.setContent(html_cd9cb3caaaab9ff7a952a4762deeb82f);
            
        

        poly_line_220adf88ad303df660674578100366f3.bindPopup(popup_f50149bf999bbe680ab57fe495d76246)
        ;

        
    
    
            var poly_line_20bcdfc07231fe57d4459277a6944d31 = L.polyline(
                [[31.6295, -7.9811], [32.2359364, -7.953837799999974]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 4.4}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_9ab0b703129592113ecaf99b544e4836 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_631f52d13eee7ab3118eeb5ab5660bfe = $(`<div id="html_631f52d13eee7ab3118eeb5ab5660bfe" style="width: 100.0%; height: 100.0%;">Flow: 120</div>`)[0];
                popup_9ab0b703129592113ecaf99b544e4836.setContent(html_631f52d13eee7ab3118eeb5ab5660bfe);
            
        

        poly_line_20bcdfc07231fe57d4459277a6944d31.bindPopup(popup_9ab0b703129592113ecaf99b544e4836)
        ;

        
    
    
            var poly_line_2fe650563961b9e1325528ec112ba225 = L.polyline(
                [[32.2359364, -7.953837799999974], [33.5731, -7.5898]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 4.4}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_efbe57c27980d9802719d7ae7c92ba8a = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_088662e3944be5d99525ce141873dde4 = $(`<div id="html_088662e3944be5d99525ce141873dde4" style="width: 100.0%; height: 100.0%;">Flow: 120</div>`)[0];
                popup_efbe57c27980d9802719d7ae7c92ba8a.setContent(html_088662e3944be5d99525ce141873dde4);
            
        

        poly_line_2fe650563961b9e1325528ec112ba225.bindPopup(popup_efbe57c27980d9802719d7ae7c92ba8a)
        ;

        
    
    
            var poly_line_58896ed9c6448f35bd68a0c9c0a4a689 = L.polyline(
                [[32.8809, -6.9063], [31.6295, -7.9811]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 10.0}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_34a3ef746f05a0a067998f6e8124a49b = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_eb336b0ec62aa062d6d3a4036f8a1c11 = $(`<div id="html_eb336b0ec62aa062d6d3a4036f8a1c11" style="width: 100.0%; height: 100.0%;">Flow: 400</div>`)[0];
                popup_34a3ef746f05a0a067998f6e8124a49b.setContent(html_eb336b0ec62aa062d6d3a4036f8a1c11);
            
        

        poly_line_58896ed9c6448f35bd68a0c9c0a4a689.bindPopup(popup_34a3ef746f05a0a067998f6e8124a49b)
        ;

        
    
    
            var poly_line_7726a85ed12f2575a302cd11403c63b3 = L.polyline(
                [[31.6295, -7.9811], [35.577, -5.3684]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3.4}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_2265e9447f962e57af9772536ad6b836 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3a046482d2f0c76e83af4b3cce245210 = $(`<div id="html_3a046482d2f0c76e83af4b3cce245210" style="width: 100.0%; height: 100.0%;">Flow: 70</div>`)[0];
                popup_2265e9447f962e57af9772536ad6b836.setContent(html_3a046482d2f0c76e83af4b3cce245210);
            
        

        poly_line_7726a85ed12f2575a302cd11403c63b3.bindPopup(popup_2265e9447f962e57af9772536ad6b836)
        ;

        
    
    
            var poly_line_c1341745b896c5ce67e5ea0fc0e79923 = L.polyline(
                [[35.577, -5.3684], [33.5731, -7.5898]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3.4}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_720abec56dbde950994d62a7d063d40d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_95fc1501e54ad8257c1ad67fd570610c = $(`<div id="html_95fc1501e54ad8257c1ad67fd570610c" style="width: 100.0%; height: 100.0%;">Flow: 70</div>`)[0];
                popup_720abec56dbde950994d62a7d063d40d.setContent(html_95fc1501e54ad8257c1ad67fd570610c);
            
        

        poly_line_c1341745b896c5ce67e5ea0fc0e79923.bindPopup(popup_720abec56dbde950994d62a7d063d40d)
        ;

        
    
    
            var poly_line_b7d3db2679e35b090289b9e932e761d7 = L.polyline(
                [[32.8809, -6.9063], [30.4278, -9.5981]],
                {"bubblingMouseEvents": true, "color": "purple", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "purple", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 11.0}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_faf8462457e2186847c06dc55c934533 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_6e49caecd78addab25f3f7a5cab0afb4 = $(`<div id="html_6e49caecd78addab25f3f7a5cab0afb4" style="width: 100.0%; height: 100.0%;">Flow: 450</div>`)[0];
                popup_faf8462457e2186847c06dc55c934533.setContent(html_6e49caecd78addab25f3f7a5cab0afb4);
            
        

        poly_line_b7d3db2679e35b090289b9e932e761d7.bindPopup(popup_faf8462457e2186847c06dc55c934533)
        ;

        
    
    
            var poly_line_78abf1a7becf74a7c629cdedba69022f = L.polyline(
                [[30.4278, -9.5981], [32.2994, -9.2372]],
                {"bubblingMouseEvents": true, "color": "purple", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "purple", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 4.6}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_ecf3cd7a149a9748e80e49fb92fded61 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a98491d25db3382c65fb4cc0c2816fd1 = $(`<div id="html_a98491d25db3382c65fb4cc0c2816fd1" style="width: 100.0%; height: 100.0%;">Flow: 130</div>`)[0];
                popup_ecf3cd7a149a9748e80e49fb92fded61.setContent(html_a98491d25db3382c65fb4cc0c2816fd1);
            
        

        poly_line_78abf1a7becf74a7c629cdedba69022f.bindPopup(popup_ecf3cd7a149a9748e80e49fb92fded61)
        ;

        
    
    
            var poly_line_404fe8eef5e87c4e2f1699c0258b41fb = L.polyline(
                [[32.2994, -9.2372], [33.5731, -7.5898]],
                {"bubblingMouseEvents": true, "color": "purple", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "purple", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 4.6}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_37331e40a05e03e7c6e6e55c7cefe2cd = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_b141664f37676d9803312256d4554247 = $(`<div id="html_b141664f37676d9803312256d4554247" style="width: 100.0%; height: 100.0%;">Flow: 130</div>`)[0];
                popup_37331e40a05e03e7c6e6e55c7cefe2cd.setContent(html_b141664f37676d9803312256d4554247);
            
        

        poly_line_404fe8eef5e87c4e2f1699c0258b41fb.bindPopup(popup_37331e40a05e03e7c6e6e55c7cefe2cd)
        ;

        
    
    
            var poly_line_b732ccd8796f96161e51ca6e5685726f = L.polyline(
                [[32.8809, -6.9063], [34.0331, -5.0003]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 6.2}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_e7cc65fd7384860da63cdb9c5024644f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_ea92b3a1925141ff32bcd4570026c33c = $(`<div id="html_ea92b3a1925141ff32bcd4570026c33c" style="width: 100.0%; height: 100.0%;">Flow: 210</div>`)[0];
                popup_e7cc65fd7384860da63cdb9c5024644f.setContent(html_ea92b3a1925141ff32bcd4570026c33c);
            
        

        poly_line_b732ccd8796f96161e51ca6e5685726f.bindPopup(popup_e7cc65fd7384860da63cdb9c5024644f)
        ;

        
    
    
            var poly_line_338bb29b0975d2c67883e5aefd12fcd8 = L.polyline(
                [[34.0331, -5.0003], [31.6295, -7.9811]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3.2}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_a1c26e03b9c7a95e5603c3b6b6124dfd = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_890f0c15112bbf2cc5bc5cef8b133371 = $(`<div id="html_890f0c15112bbf2cc5bc5cef8b133371" style="width: 100.0%; height: 100.0%;">Flow: 60</div>`)[0];
                popup_a1c26e03b9c7a95e5603c3b6b6124dfd.setContent(html_890f0c15112bbf2cc5bc5cef8b133371);
            
        

        poly_line_338bb29b0975d2c67883e5aefd12fcd8.bindPopup(popup_a1c26e03b9c7a95e5603c3b6b6124dfd)
        ;

        
    
    
            var poly_line_b264e71d86902d39a6330efd12833807 = L.polyline(
                [[31.6295, -7.9811], [35.577, -5.3684]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3.4}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_53d49cdd63f32ee265dcc34b34fc07ef = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_ea8af02c4613732af405cfbd852e9d17 = $(`<div id="html_ea8af02c4613732af405cfbd852e9d17" style="width: 100.0%; height: 100.0%;">Flow: 70</div>`)[0];
                popup_53d49cdd63f32ee265dcc34b34fc07ef.setContent(html_ea8af02c4613732af405cfbd852e9d17);
            
        

        poly_line_b264e71d86902d39a6330efd12833807.bindPopup(popup_53d49cdd63f32ee265dcc34b34fc07ef)
        ;

        
    
    
            var poly_line_fe3c902e3d4863c80d916656e3d91237 = L.polyline(
                [[35.577, -5.3684], [33.5731, -7.5898]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3.4}
            ).addTo(map_9d2dcb70810029b7d3e276233fd1e461);
        
    
        var popup_8d0e3e5139dd4b1d604ffe600fdbffd3 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f91592a97c8f742e4ab909f9450ab4ce = $(`<div id="html_f91592a97c8f742e4ab909f9450ab4ce" style="width: 100.0%; height: 100.0%;">Flow: 70</div>`)[0];
                popup_8d0e3e5139dd4b1d604ffe600fdbffd3.setContent(html_f91592a97c8f742e4ab909f9450ab4ce);
            
        

        poly_line_fe3c902e3d4863c80d916656e3d91237.bindPopup(popup_8d0e3e5139dd4b1d604ffe600fdbffd3)
        ;

        
    
</script>
</html>