<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_4b04926fd48c788ec88112c3f4f341ce {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
    <div style="position: fixed; 
                bottom: 50px; 
                left: 50px; 
                z-index: 1000; 
                background-color: white;
                padding: 10px; 
                border: 2px solid grey; 
                border-radius: 5px;">
        <h4>Maximum flow from Benguerir to Kenitra</h4>
    
        <div style="margin-bottom: 5px;">
            <span style="color: #FF0000;">━━━</span>
            Path 1: Benguerir → Kenitra
        </div>
        
        <div style="margin-top: 10px;">
            <p>🔴 Source/Mine</p>
            <p>🟢 Destination</p>
            <p>🔵 Industrial City</p>
        </div>
    </div>
    
    
            <div class="folium-map" id="map_4b04926fd48c788ec88112c3f4f341ce" ></div>
        
</body>
<script>
    
    
            var map_4b04926fd48c788ec88112c3f4f341ce = L.map(
                "map_4b04926fd48c788ec88112c3f4f341ce",
                {
                    center: [31.5, -6.5],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 6,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_f7048f5b83c7d9bb9bc63853d4609cfd = L.tileLayer(
                "https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png",
                {
  "minZoom": 0,
  "maxZoom": 20,
  "maxNativeZoom": 20,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"https://carto.com/attributions\"\u003eCARTO\u003c/a\u003e",
  "subdomains": "abcd",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_f7048f5b83c7d9bb9bc63853d4609cfd.addTo(map_4b04926fd48c788ec88112c3f4f341ce);
        
    
            var poly_line_9bb2584b04183b5ef1e7644092f11b27 = L.polyline(
                [[32.2359364, -7.953837799999974], [33.248468200000005, -6.767018899999987], [34.261, -6.5802]],
                {"bubblingMouseEvents": true, "color": "#FF0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_4b04926fd48c788ec88112c3f4f341ce);
        
    
        var popup_264f6e0ae69642e6372d80de83b2c57e = L.popup({
  "maxWidth": 300,
});

        
            
                var html_d48b35e8c9b9d5cf779a909efad93c6b = $(`<div id="html_d48b35e8c9b9d5cf779a909efad93c6b" style="width: 100.0%; height: 100.0%;">         <div style="font-family: Arial; font-size: 12px;">             <b>Path 1:</b><br>             Route: Benguerir → Kenitra<br>             Flow: 230 units         </div>         </div>`)[0];
                popup_264f6e0ae69642e6372d80de83b2c57e.setContent(html_d48b35e8c9b9d5cf779a909efad93c6b);
            
        

        poly_line_9bb2584b04183b5ef1e7644092f11b27.bindPopup(popup_264f6e0ae69642e6372d80de83b2c57e)
        ;

        
    
    
            var marker_52a167cc18ec7ce041bff7b850b755a9 = L.marker(
                [33.5731, -7.5898],
                {
}
            ).addTo(map_4b04926fd48c788ec88112c3f4f341ce);
        
    
            var icon_085db9058174bf08b9f36fae8078933e = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "building",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
            marker_52a167cc18ec7ce041bff7b850b755a9.setIcon(icon_085db9058174bf08b9f36fae8078933e);
        
    
        var popup_0ebb971eaaa6ce9cad9181bb76db1a70 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_857d530ae7b303ade243a5b7da02ab3c = $(`<div id="html_857d530ae7b303ade243a5b7da02ab3c" style="width: 100.0%; height: 100.0%;"><b>Casablanca</b> (Industrial)</div>`)[0];
                popup_0ebb971eaaa6ce9cad9181bb76db1a70.setContent(html_857d530ae7b303ade243a5b7da02ab3c);
            
        

        marker_52a167cc18ec7ce041bff7b850b755a9.bindPopup(popup_0ebb971eaaa6ce9cad9181bb76db1a70)
        ;

        
    
    
            marker_52a167cc18ec7ce041bff7b850b755a9.bindTooltip(
                `<div>
                     Casablanca
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_84a6737c3dd1adf4fdde1848c4d8be94 = L.marker(
                [34.0209, -6.8416],
                {
}
            ).addTo(map_4b04926fd48c788ec88112c3f4f341ce);
        
    
            var icon_528c64978ba89b468f80345d9afd01b7 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "building",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
            marker_84a6737c3dd1adf4fdde1848c4d8be94.setIcon(icon_528c64978ba89b468f80345d9afd01b7);
        
    
        var popup_f1b7c12769d90fe2e95d461203b00b8a = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_692e78c59bf32157a6268bb9ad7bb3e1 = $(`<div id="html_692e78c59bf32157a6268bb9ad7bb3e1" style="width: 100.0%; height: 100.0%;"><b>Rabat</b> (Industrial)</div>`)[0];
                popup_f1b7c12769d90fe2e95d461203b00b8a.setContent(html_692e78c59bf32157a6268bb9ad7bb3e1);
            
        

        marker_84a6737c3dd1adf4fdde1848c4d8be94.bindPopup(popup_f1b7c12769d90fe2e95d461203b00b8a)
        ;

        
    
    
            marker_84a6737c3dd1adf4fdde1848c4d8be94.bindTooltip(
                `<div>
                     Rabat
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_a86aeff35f5fcd53697ea3ae7133a621 = L.marker(
                [35.7595, -5.8339],
                {
}
            ).addTo(map_4b04926fd48c788ec88112c3f4f341ce);
        
    
            var icon_30c4b12315cb90e46523e075d9a11296 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "building",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
            marker_a86aeff35f5fcd53697ea3ae7133a621.setIcon(icon_30c4b12315cb90e46523e075d9a11296);
        
    
        var popup_b68c6dbcdf7793f0fd85a1f5be7f2d92 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_03ad592f41dbf4562073765adceddb9c = $(`<div id="html_03ad592f41dbf4562073765adceddb9c" style="width: 100.0%; height: 100.0%;"><b>Tangier</b> (Industrial)</div>`)[0];
                popup_b68c6dbcdf7793f0fd85a1f5be7f2d92.setContent(html_03ad592f41dbf4562073765adceddb9c);
            
        

        marker_a86aeff35f5fcd53697ea3ae7133a621.bindPopup(popup_b68c6dbcdf7793f0fd85a1f5be7f2d92)
        ;

        
    
    
            marker_a86aeff35f5fcd53697ea3ae7133a621.bindTooltip(
                `<div>
                     Tangier
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_afbf7b1460b2215386a0ef1b5db13588 = L.marker(
                [31.6295, -7.9811],
                {
}
            ).addTo(map_4b04926fd48c788ec88112c3f4f341ce);
        
    
            var icon_e6015e7940312a9d427aff1a6175ec7f = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "building",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
            marker_afbf7b1460b2215386a0ef1b5db13588.setIcon(icon_e6015e7940312a9d427aff1a6175ec7f);
        
    
        var popup_8e1ae5ac47e0b0290a64703963f11f85 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_35007bc969dd553b7b1b9efead36addb = $(`<div id="html_35007bc969dd553b7b1b9efead36addb" style="width: 100.0%; height: 100.0%;"><b>Marrakech</b> (Industrial)</div>`)[0];
                popup_8e1ae5ac47e0b0290a64703963f11f85.setContent(html_35007bc969dd553b7b1b9efead36addb);
            
        

        marker_afbf7b1460b2215386a0ef1b5db13588.bindPopup(popup_8e1ae5ac47e0b0290a64703963f11f85)
        ;

        
    
    
            marker_afbf7b1460b2215386a0ef1b5db13588.bindTooltip(
                `<div>
                     Marrakech
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_e87c03da7525b54800f58dc90ecef9b7 = L.marker(
                [34.0331, -5.0003],
                {
}
            ).addTo(map_4b04926fd48c788ec88112c3f4f341ce);
        
    
            var icon_0008f9fac895dd500116ec4cbf719631 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "building",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
            marker_e87c03da7525b54800f58dc90ecef9b7.setIcon(icon_0008f9fac895dd500116ec4cbf719631);
        
    
        var popup_0374a7b41f2d0406581c31cfc1bbf0cd = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2b734e6479769898c0f826a02bb92cf1 = $(`<div id="html_2b734e6479769898c0f826a02bb92cf1" style="width: 100.0%; height: 100.0%;"><b>Fes</b> (Industrial)</div>`)[0];
                popup_0374a7b41f2d0406581c31cfc1bbf0cd.setContent(html_2b734e6479769898c0f826a02bb92cf1);
            
        

        marker_e87c03da7525b54800f58dc90ecef9b7.bindPopup(popup_0374a7b41f2d0406581c31cfc1bbf0cd)
        ;

        
    
    
            marker_e87c03da7525b54800f58dc90ecef9b7.bindTooltip(
                `<div>
                     Fes
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_d799f85589093a1c18af57db0f7e0cac = L.marker(
                [33.8947, -5.5473],
                {
}
            ).addTo(map_4b04926fd48c788ec88112c3f4f341ce);
        
    
            var icon_72a5bc5d602af5f14849ae3cdf2fd294 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "building",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
            marker_d799f85589093a1c18af57db0f7e0cac.setIcon(icon_72a5bc5d602af5f14849ae3cdf2fd294);
        
    
        var popup_6bb048c7d40c0505023de44254f3d67b = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3993f52e978156e003ad33bc17e6fc8d = $(`<div id="html_3993f52e978156e003ad33bc17e6fc8d" style="width: 100.0%; height: 100.0%;"><b>Meknes</b> (Industrial)</div>`)[0];
                popup_6bb048c7d40c0505023de44254f3d67b.setContent(html_3993f52e978156e003ad33bc17e6fc8d);
            
        

        marker_d799f85589093a1c18af57db0f7e0cac.bindPopup(popup_6bb048c7d40c0505023de44254f3d67b)
        ;

        
    
    
            marker_d799f85589093a1c18af57db0f7e0cac.bindTooltip(
                `<div>
                     Meknes
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_4e3818673334d062a62a2520d54f88ab = L.marker(
                [30.4278, -9.5981],
                {
}
            ).addTo(map_4b04926fd48c788ec88112c3f4f341ce);
        
    
            var icon_db4df380bc196893360b57abb9c00819 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "building",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
            marker_4e3818673334d062a62a2520d54f88ab.setIcon(icon_db4df380bc196893360b57abb9c00819);
        
    
        var popup_8ecdde3e68ff61c7337cb74ec3ac28c0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_76fcfe5c37562d2625dcaf376d4642c1 = $(`<div id="html_76fcfe5c37562d2625dcaf376d4642c1" style="width: 100.0%; height: 100.0%;"><b>Agadir</b> (Industrial)</div>`)[0];
                popup_8ecdde3e68ff61c7337cb74ec3ac28c0.setContent(html_76fcfe5c37562d2625dcaf376d4642c1);
            
        

        marker_4e3818673334d062a62a2520d54f88ab.bindPopup(popup_8ecdde3e68ff61c7337cb74ec3ac28c0)
        ;

        
    
    
            marker_4e3818673334d062a62a2520d54f88ab.bindTooltip(
                `<div>
                     Agadir
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_77d50dc12be76e1ae79b235ae2cd4ad4 = L.marker(
                [34.6814, -1.9086],
                {
}
            ).addTo(map_4b04926fd48c788ec88112c3f4f341ce);
        
    
            var icon_b67ccc81e1ee0d21d787140c90d72046 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "building",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
            marker_77d50dc12be76e1ae79b235ae2cd4ad4.setIcon(icon_b67ccc81e1ee0d21d787140c90d72046);
        
    
        var popup_1ebee9bddc95520c4d43116a02d6b31f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a176ca12f8367c92df2fc45126a8a50f = $(`<div id="html_a176ca12f8367c92df2fc45126a8a50f" style="width: 100.0%; height: 100.0%;"><b>Oujda</b> (Industrial)</div>`)[0];
                popup_1ebee9bddc95520c4d43116a02d6b31f.setContent(html_a176ca12f8367c92df2fc45126a8a50f);
            
        

        marker_77d50dc12be76e1ae79b235ae2cd4ad4.bindPopup(popup_1ebee9bddc95520c4d43116a02d6b31f)
        ;

        
    
    
            marker_77d50dc12be76e1ae79b235ae2cd4ad4.bindTooltip(
                `<div>
                     Oujda
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_9bc21931b583bcbf042f7eb17a78d2aa = L.marker(
                [35.577, -5.3684],
                {
}
            ).addTo(map_4b04926fd48c788ec88112c3f4f341ce);
        
    
            var icon_a367905e0ed175c1482d987780b3bd6d = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "building",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
            marker_9bc21931b583bcbf042f7eb17a78d2aa.setIcon(icon_a367905e0ed175c1482d987780b3bd6d);
        
    
        var popup_0e48b8ea7ffcc276b69c47b8c6278f5a = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3da1296c39a0d52a59e655656f9fba4b = $(`<div id="html_3da1296c39a0d52a59e655656f9fba4b" style="width: 100.0%; height: 100.0%;"><b>Tetouan</b> (Industrial)</div>`)[0];
                popup_0e48b8ea7ffcc276b69c47b8c6278f5a.setContent(html_3da1296c39a0d52a59e655656f9fba4b);
            
        

        marker_9bc21931b583bcbf042f7eb17a78d2aa.bindPopup(popup_0e48b8ea7ffcc276b69c47b8c6278f5a)
        ;

        
    
    
            marker_9bc21931b583bcbf042f7eb17a78d2aa.bindTooltip(
                `<div>
                     Tetouan
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_fea4cb9911938e7e5ed4c62bb81d3bae = L.marker(
                [32.2994, -9.2372],
                {
}
            ).addTo(map_4b04926fd48c788ec88112c3f4f341ce);
        
    
            var icon_382258b1979702ee7318a087b7a9648a = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "building",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
            marker_fea4cb9911938e7e5ed4c62bb81d3bae.setIcon(icon_382258b1979702ee7318a087b7a9648a);
        
    
        var popup_a9afb9d9ab3ba956dc8f273935d1f22c = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_1379431a5f59812af6cbc3152fd03701 = $(`<div id="html_1379431a5f59812af6cbc3152fd03701" style="width: 100.0%; height: 100.0%;"><b>Safi</b> (Industrial)</div>`)[0];
                popup_a9afb9d9ab3ba956dc8f273935d1f22c.setContent(html_1379431a5f59812af6cbc3152fd03701);
            
        

        marker_fea4cb9911938e7e5ed4c62bb81d3bae.bindPopup(popup_a9afb9d9ab3ba956dc8f273935d1f22c)
        ;

        
    
    
            marker_fea4cb9911938e7e5ed4c62bb81d3bae.bindTooltip(
                `<div>
                     Safi
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_a77bd8b967042c04fbc7277975dcd5de = L.marker(
                [33.2561, -8.5089],
                {
}
            ).addTo(map_4b04926fd48c788ec88112c3f4f341ce);
        
    
            var icon_4321eb8c14edd4dc34f1eafb18b3c72d = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "industry",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
            marker_a77bd8b967042c04fbc7277975dcd5de.setIcon(icon_4321eb8c14edd4dc34f1eafb18b3c72d);
        
    
        var popup_090b8db4873dee9c85c852191be14186 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_35335ad2643da5dab164d69a528f76b7 = $(`<div id="html_35335ad2643da5dab164d69a528f76b7" style="width: 100.0%; height: 100.0%;"><b>El Jadida</b> (Mine)</div>`)[0];
                popup_090b8db4873dee9c85c852191be14186.setContent(html_35335ad2643da5dab164d69a528f76b7);
            
        

        marker_a77bd8b967042c04fbc7277975dcd5de.bindPopup(popup_090b8db4873dee9c85c852191be14186)
        ;

        
    
    
            marker_a77bd8b967042c04fbc7277975dcd5de.bindTooltip(
                `<div>
                     El Jadida
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_8a8710e84ec6a93e7b92ba00e5d9277a = L.marker(
                [32.3394, -6.3498],
                {
}
            ).addTo(map_4b04926fd48c788ec88112c3f4f341ce);
        
    
            var icon_ed1b67bee2e3959df7216a63ccaa53fe = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "building",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
            marker_8a8710e84ec6a93e7b92ba00e5d9277a.setIcon(icon_ed1b67bee2e3959df7216a63ccaa53fe);
        
    
        var popup_e1a227cf254bb9413c8c5b985e6d98c4 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_6d2b80d7d079b04af661366df3453cda = $(`<div id="html_6d2b80d7d079b04af661366df3453cda" style="width: 100.0%; height: 100.0%;"><b>Beni Mellal</b> (Industrial)</div>`)[0];
                popup_e1a227cf254bb9413c8c5b985e6d98c4.setContent(html_6d2b80d7d079b04af661366df3453cda);
            
        

        marker_8a8710e84ec6a93e7b92ba00e5d9277a.bindPopup(popup_e1a227cf254bb9413c8c5b985e6d98c4)
        ;

        
    
    
            marker_8a8710e84ec6a93e7b92ba00e5d9277a.bindTooltip(
                `<div>
                     Beni Mellal
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_1ff027a9e61ea10dd051df13223cf7ef = L.marker(
                [32.8809, -6.9063],
                {
}
            ).addTo(map_4b04926fd48c788ec88112c3f4f341ce);
        
    
            var icon_2db6233fa5789c1775be7bf499b18e9d = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "industry",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
            marker_1ff027a9e61ea10dd051df13223cf7ef.setIcon(icon_2db6233fa5789c1775be7bf499b18e9d);
        
    
        var popup_3bf5d305217ac308dfd36758565425b4 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f25f490718286b586fd15152c201c5c1 = $(`<div id="html_f25f490718286b586fd15152c201c5c1" style="width: 100.0%; height: 100.0%;"><b>Khouribga</b> (Mine)</div>`)[0];
                popup_3bf5d305217ac308dfd36758565425b4.setContent(html_f25f490718286b586fd15152c201c5c1);
            
        

        marker_1ff027a9e61ea10dd051df13223cf7ef.bindPopup(popup_3bf5d305217ac308dfd36758565425b4)
        ;

        
    
    
            marker_1ff027a9e61ea10dd051df13223cf7ef.bindTooltip(
                `<div>
                     Khouribga
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_beade8d1a377514d8c780a2d12f5f92c = L.marker(
                [34.261, -6.5802],
                {
}
            ).addTo(map_4b04926fd48c788ec88112c3f4f341ce);
        
    
            var icon_9ddf9472853073816a8f209cb2e4f014 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
            marker_beade8d1a377514d8c780a2d12f5f92c.setIcon(icon_9ddf9472853073816a8f209cb2e4f014);
        
    
        var popup_8a3ad8367b81fb1fadef66cba175cf44 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_9157c675184fcb5607050cbb660581bf = $(`<div id="html_9157c675184fcb5607050cbb660581bf" style="width: 100.0%; height: 100.0%;"><b>Kenitra</b> (Destination)</div>`)[0];
                popup_8a3ad8367b81fb1fadef66cba175cf44.setContent(html_9157c675184fcb5607050cbb660581bf);
            
        

        marker_beade8d1a377514d8c780a2d12f5f92c.bindPopup(popup_8a3ad8367b81fb1fadef66cba175cf44)
        ;

        
    
    
            marker_beade8d1a377514d8c780a2d12f5f92c.bindTooltip(
                `<div>
                     Kenitra
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_8cc47a269760cf8206e679c1a406d46f = L.marker(
                [33.1069, -8.6375],
                {
}
            ).addTo(map_4b04926fd48c788ec88112c3f4f341ce);
        
    
            var icon_c32d07655f53923fe1ffd38c7881b256 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "building",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
            marker_8cc47a269760cf8206e679c1a406d46f.setIcon(icon_c32d07655f53923fe1ffd38c7881b256);
        
    
        var popup_835080e0642e8f165bcb56863d5c631c = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_96c0fedf1ee6190c3c27b463571e856a = $(`<div id="html_96c0fedf1ee6190c3c27b463571e856a" style="width: 100.0%; height: 100.0%;"><b>Jorf Lasfar</b> (Industrial)</div>`)[0];
                popup_835080e0642e8f165bcb56863d5c631c.setContent(html_96c0fedf1ee6190c3c27b463571e856a);
            
        

        marker_8cc47a269760cf8206e679c1a406d46f.bindPopup(popup_835080e0642e8f165bcb56863d5c631c)
        ;

        
    
    
            marker_8cc47a269760cf8206e679c1a406d46f.bindTooltip(
                `<div>
                     Jorf Lasfar
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_85bf8c80c6b7cfbbe792e7379a896474 = L.marker(
                [32.2359364, -7.953837799999974],
                {
}
            ).addTo(map_4b04926fd48c788ec88112c3f4f341ce);
        
    
            var icon_b99c142ac511bae7d4da08ff8aa21e03 = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
            marker_85bf8c80c6b7cfbbe792e7379a896474.setIcon(icon_b99c142ac511bae7d4da08ff8aa21e03);
        
    
        var popup_fbecbc05ecc06e825a7d394b6ff65e37 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_ca84e186934015868a2aa97378e89c4e = $(`<div id="html_ca84e186934015868a2aa97378e89c4e" style="width: 100.0%; height: 100.0%;"><b>Benguerir</b> (Source)</div>`)[0];
                popup_fbecbc05ecc06e825a7d394b6ff65e37.setContent(html_ca84e186934015868a2aa97378e89c4e);
            
        

        marker_85bf8c80c6b7cfbbe792e7379a896474.bindPopup(popup_fbecbc05ecc06e825a7d394b6ff65e37)
        ;

        
    
    
            marker_85bf8c80c6b7cfbbe792e7379a896474.bindTooltip(
                `<div>
                     Benguerir
                 </div>`,
                {
  "sticky": true,
}
            );
        
</script>
</html>